.phone__body {
  .carousal-container {
    min-width: 200px !important;
  }
}

.carousal-container {
  margin-bottom: 5px;
  animation: human-slide-right 0.5s;

  &.no-controls {
    .control {
      display: none;
    }
  }

  &[data-itemToShow='1'] {
    .item {
      width: 100%;
    }
  }

  &[data-itemToShow='2'] {
    .item {
      width: 50%;
    }
  }

  &[data-itemToShow='3'] {
    .item {
      width: 33.3333333%;
    }
  }

  position: relative;
  -ms-overflow-style: none;
  overflow: auto;
  //width: calc(100% - 45px);
  width: calc(100%);
  min-width: 300px;
  //border: 1px solid red;

  &.hide-right-control {
    .control-right {
      display: none;
    }
  }

  &.hide-left-control {
    .control-left {
      display: none;
    }
  }

  .control {
    border: 1px solid rgba(0, 0, 0, .125);
    background-color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    width: 25px;
    height: 25px;
    transform: translateY(-50%);
    font-size: 16px;
    color: var(--color-brand); //rgba(0, 0, 0, .125);
    border-radius: 50%;
    cursor: pointer;

    &.control-left {
      left: 5px
    }

    &.control-right {
      right: 5px;
    }
  }
}

.carousal-container-inner {
  display: flex;


  .item {
    width: 100%;
    max-width: 300px;
    background: white;
    flex-shrink: 0;
    //border-radius: 8px;
    overflow: hidden;
    //box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.15);
  }

  transition: all 0.5s;
}

.bot-carousal-item {
  border: 1px solid rgba(0, 0, 0, .125);
  margin-right: 2px;
  margin-left: 2px;
  overflow: hidden;
  //border-radius: 8px;

  .banner {
    height: 0;
    padding: 28.125%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
  }

  .action, .title-wrapper {
    min-height: 32px;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      /* IE10+ CSS1.1 here */
      height: 45px;
    }
    background: white;
    width: 100%;
    display: flex;
    justify-content: center;
    //align-items: center;
    flex-direction: column;
    padding: 5px;
    border-top: 1px solid rgba(0, 0, 0, .125);

    .title-text {
      font-weight: 600;
      margin-bottom: 6px;

      /*https://stackoverflow.com/questions/3922739/limit-text-length-to-n-lines-using-css*/
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* number of lines to show */
      -webkit-box-orient: vertical;
    }

    .description-text {
      margin-bottom: 6px;

      /*https://stackoverflow.com/questions/3922739/limit-text-length-to-n-lines-using-css*/
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
  }

  .action {
    text-align: center;
    cursor: pointer;
    display: flex; /*limit oneline doesn't work om flex*/
    .link-wrapper {
      align-items: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.shadow-theme {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2) !important;
}


