/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 0;
}

body::-webkit-scrollbar { display: none;  }
body{
  .phone{
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      /* IE10+ CSS1.1 here */
      -ms-overflow-style: none;
      //display: none !important;
    }
  }
}

/* Track */
::-webkit-scrollbar-track {

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
