$color-brand: #34b233;

body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 13px;
}

.imi-button-primary{
  width: 78px;
  height: 32px;
  border-radius: 2px;
  border: solid 1px #086b2e;
  background-color: white;
  cursor: pointer;
}


@mixin msg-shadow {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.15);
}

* {
  box-sizing: border-box;
}

.d-flex {
  display: flex !important;
}

.d-none {
  display: none !important;
}

.description {
  font-size: 12px;
}

.lang-rtl {
  .content {
    text-align: right !important;
  }
}

.bg-opaque {
  background: rgba(0, 0, 0, .32) !important;
  opacity: 0.2;

  * {
    opacity: 0.5;
  }
}

.opacity-0 {
  //background-color: rgba(0, 0, 0, 0.32) !important;
  //*{
  opacity: 0;
  //}
}

.opacity-1 {
  opacity: 1;
}

.modal1 {
  display: none;
  width: 100%;
  height: 35vh;
  background: white;
  z-index: 1000000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;

  .fa{
    position: absolute;
    right: 25px;
    top: 25px;
    padding: 10px;
    cursor: pointer;
  }

  .lang-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      margin: 0;
      font-size: 18px;
      color: black;
    }
  }
}

.grid-container {
  //grid-template-columns: 1fr;
  //grid-template-rows: 60px 1fr 60px;
  //grid-template-areas: "header" "body" "footer";
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.chat-body {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;

  .message-wrapper, .time {
    animation: human-slide-right 0.5s;
    animation-fill-mode: forwards;
  }

  .msg-bubble {
    display: flex;
    flex-shrink: 0;
    &.msg-bubble-human {
      flex-direction: column-reverse;

      .msg-bot-logo {
        display: none !important;
      }

      .message-wrapper, .time {
        animation: human-slide-left 0.5s;
        animation-fill-mode: forwards;
      }

      .time {
        margin-left: auto;
      }
    }

    .msg-bot-logo {
      height: 40px;
      width: 40px;
      flex-shrink: 0;
    }

    .message-container {
      //flex-shrink: 0;
      margin-bottom: 8px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .message-wrapper {
        flex-shrink: 0;
        //max-width: 90%;
        margin-bottom: 8px;
        //display: inline-block;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;

        .content {
          padding: 8px;
          border-radius: 8px;
          color: #191919;
          @include msg-shadow();
          text-align: left;
          word-break: break-word;
        }

        .msg-img, .msg-audio, .msg-video {
          max-width: 90%;
          max-height: 200px;
          padding: 10px;
          background: #eaeaea;
          box-sizing: content-box;
          border-radius: 8px;
          @include msg-shadow();
        }
      }

      .message-wrapper-human {
        margin-left: auto;

        .content {
          background: $color-brand;
          color: white;
        }
      }
    }
  }
}

.header {
  height: 60px;
  flex-shrink: 0;
  flex-grow: 0;
  //grid-area: header;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px;
  display: flex;
  color: white;
  justify-content: space-between;

  .bot-intro {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;

    .title {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: bold;
    }

    .bot-logo {
      margin-right: 10px;
      flex-grow: 0;

      img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
      }
    }

    .options {
      margin-right: 16px;
      font-size: 18px;
      cursor: pointer;
      padding: 8px;//to increase the clickable are
    }

    .bot-details {
      flex-grow: 1;
    }
  }
}

.footer {
  height: 60px;
  flex-shrink: 0;
  flex-grow: 0;
  grid-area: footer;
  border-top: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  padding: 0 16px;

  #chat-input {
    //flex-grow: 1;
    width: 90%; //flex-grow: 1; is causing overflow???
    outline: none;
    border: none;
    color: #696969;
    padding: 5px;
  }

  .icon {
    font-size: 14px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    display: flex;
    background: $color-brand;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .fa {
      transform: rotate(45deg);
      transition-duration: .3s;
      cursor: pointer;
      color: #fff;
    }

    &:hover {
      .fa {
        transform: rotate(0);
      }
    }

  }
}

.loader {
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  img {
    height: 100px;
  }
}

.dewa-theme {
  display: flex;
  justify-content: center;
  align-items: center;

  .grid-container {
    padding: 12px 0;
    position: relative;

    .basel-bg {
      background: #34b233;
      position: absolute;
      //top: -100px;
      left: -100px;
      right: -100px;
      height: 72px;
      top: 0px;
      z-index: 0;
      box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
    }

    .bot-intro {
      z-index: 1;
      background: #34b233;
      margin-top: 6px;
    }
  }
}

@keyframes human-slide-left {
  0% {
    opacity: 0;
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes human-slide-right {
  0% {
    opacity: 0;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}


@media only screen and (max-width: 600px) {
  .grid-container {
    position: fixed !important;
    padding: 0 !important;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 100000;
    overflow: hidden;
    background: white;

    .bot-intro {
      margin: 0 !important;
    }

    .basel-bg {
      display: none;
    }

    .header {
      padding: 0 10px !important;
      background: $color-brand;
    }
  }

  body {
    font-size: 16px !important;
  }
}
